.zsh.d         symlink=dir

.config/claude symlink=dir
.config/Code   symlink=dir
.config/fish   symlink=dir
.config/git    symlink=dir
.config/grok   symlink=dir
.config/helix  symlink=dir
.config/Zed    symlink=dir
.config/zen    symlink=dir
