Logs
Cache
Settings/Plugins/Flow.Launcher.Plugin.*/
Settings/*.json
**/*.bak

# This just keeps modifying for random things
# like window positions etc. Already checked
# in the useful stuff.
Settings/Settings.json
