[user]
    email = helmesjo@gmail.com
    name = helmesjo

[core]
    editor = hx
    pager = delta
    symlinks = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[pull]
    rebase = true

[include]
    path = ~/.gitconfig.local

[alias]
    a = add
    ap = add --patch
    c = commit
    ca = commit --all
    co = checkout
    d = diff
    dc = diff --cached
    l = log
    ps = push
    psu = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
    pl = pull -p
    rs = restore --staged
    s = status
    ui = !gitui
